<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqh.marketing.mapper.TYqhEnterpriseTotalMoneyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yqh.marketing.entity.TYqhEnterpriseTotalMoney">
        <id column="TOTAL_MONEY_ID" property="totalMoneyId" />
        <result column="USER_ID" property="userId" />
        <result column="TOTAL_MONEY" property="totalMoney" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TOTAL_MONEY_ID AS totalMoneyId, USER_ID AS userId, TOTAL_MONEY AS totalMoney, CREATE_TIME AS createTime, UPDATE_TIME AS updateTime
    </sql>

</mapper>
