<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqh.marketing.mapper.TYqhEnterpriseCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yqh.marketing.entity.TYqhEnterpriseCategory">
        <id column="CATEGORY_ID" property="categoryId" />
        <result column="CONTENT_ID" property="contentId" />
        <result column="CATEGORY_NAME" property="categoryName" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CATEGORY_ID AS categoryId, CONTENT_ID AS contentId, CATEGORY_NAME AS categoryName, CREATE_TIME AS createTime, UPDATE_TIME AS updateTime
    </sql>

</mapper>
